<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="google-site-verification" content="bfCHGty4ckaxRtZKi8HHk1SFMiNGTl_JEWbWOQ1zi5U" />
    <title><%= title %></title>
    <!-- Seo Tags -->
	<meta name="description" content="Refacto Solutions" />
	<meta name="keywords" content="refacto solutions, software development, software services, refacto"/>
	<meta name="robots" content="index"> 

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<!-- Included CSS Files -->
	<link href="https://fonts.googleapis.com/css?family=Sansita:400,400i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/javascripts/modernizr.js"></script>
</head>
<body>
  <!-- Loading -->
	<div id="preload">
		<div id="preload-content">
			<div class="preload-spinner">
			<div class="loading-logo-wraper">
			</div>
				<div class="tp-loader spinner"></div>
			</div>
		</div>
	</div>
	
	<div class="wrap flex">

		<!-- Main -->
		<div id="main">
			<div class="inner fade-in">

				<!-- Header -->
				<header class="site-header">
					<h1 class="site-title">Refacto Solutions</h1>
				</header>

				<!-- Content -->
				<section class="content">

					<h1 class="section-title">We are coming soon...</h1>
					<p class="subtitle">We're working on our new website! We will be ready in:</p>

					<!-- Countdown timer -->
					<div id="timer"></div>
					
					<!-- Modal page toggle -->
					<!-- <div class="modal-toggle" >
					<a href="#" id="modal-open" class="button-about">About</a>
					<a href="#" id="modal2-open" class="button-about">Subscribe</a>
					</div> -->

					<!-- Social links -->
					<!-- <div class="social">
							<a href="#"><span class="fa fa-envelope" title="Email"></span></a>
							<a href="#"><span class="fa fa-facebook" title="Facebook"></span></a>
              <a href="#"><span class="fa fa-twitter" title="Twitter"></span></a>
              <a href="#"><span class="fa fa-instagram" title="Instagram"></span></a>
              <a href="#"><span class="fa fa-google-plus" title="Google Plus"></span></a>
					</div> -->
					
				</section>
			</div>
		</div>
	</div>

	<!-- Background overlay -->
	<canvas  class="body-bg" id="container"></canvas>

	<!-- Included JS Files -->
	<script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/plugins.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script>
	<script type="text/javascript" src="/javascripts/rain.js"></script>>
</body>
</html>
